[Desktop Entry]
Name=argFriendlyName
Comment=argFriendlyName
Exec=argPacketName
Icon=icon.png
Terminal=false
Type=Application
Categories=Development;
