*.user
*.user.*
build*
/SAKCustomConfigure.pri
out
.vscode
/.cache
/.idea
.vscode
3rd
thirdparty
/.fleet
src/private
cmake-build-debug
ThirdParty
cmake-build*
.vs
CMakeSettings.json
Private
private
CMakePresets.json
CMakeUserPresets.json
compile_commands.json
*.aps
libs
bin
xapps/xprivate
.DS_Store
./xprivate
.VSCodeCounter
.qmlls.ini
private.cmake
private.txt
/tools
