[Desktop Entry]
Type=Application
Name=QtSwissArmyKnife
Comment=Qt Swiss Army Knife
Exec=QtSwissArmyKnife
Icon=QtSwissArmyKnife
Categories=Development;
