Package: argPacketName
Version: argVersion
Architecture: amd64
Section: utils
Priority: optional
Maintainer: x-tools-author <x-tools@outlook.com>
Depends: libc6 (>= 2.28)
Homepage: <https://github.com/x-tools-author/x-tools>
Description: xTools utility suite
 A cross-platform toolbox application.
 Includes serial/network tools, protocol utilities and more.
