name: build-test
on:
  workflow_dispatch: # Enables manually

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  QT_VERSION: 6.8.3
  QT_MODULES: 'qtcharts qtserialbus qtserialport qtwebsockets'
  DOCKER_IMAGE: ghcr.io/x-tools-author/x-tools-ubuntu-20.04:x86_64

jobs:
  release-for-linux:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build for Linux
      run: |
        git fetch --tags
        docker run --rm --privileged -v ${{ github.workspace }}:/workspace ${{ env.DOCKER_IMAGE }} /bin/bash -c "\
        cd /workspace && git --version && chmod +x ./scripts/ci-build-ubuntu-20.04.sh && ./scripts/ci-build-ubuntu-20.04.sh"
    - name: Upload Release Asset for Linux
      run: |
        dir bin/Linux/Release
        find bin/Linux/Release/xTools-linux -name "*.deb" -exec echo {} \;
        find bin/Linux/Release/xTools-linux -name "*.AppImage" -exec echo {} \;

