name: build-daily
on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch: # Enables manually
  # push:
  #   branches:
  #     - master

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  DOCKER_IMAGE: ghcr.io/x-tools-author/x-tools-ubuntu-20.04:x86_64
  QT_ANDROID_KEYSTORE_PATH: res/android/android_release.keystore
  QT_ANDROID_KEYSTORE_ALIAS: ${{ secrets.ANDROID_KEYSTORE_ALIAS }}
  QT_ANDROID_KEYSTORE_STORE_PASS: ${{ secrets.ANDROID_KEYSTORE_STORE_PASS }}
  QT_ANDROID_KEYSTORE_KEY_PASS: ${{ secrets.ANDROID_KEYSTORE_KEY_PASS }}

jobs:
  update-tag:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Update continuous tag
      run: |
        git config --global user.email "x-tools@outlook.com"
        git config --global user.name "x-tools-author"
        git tag -d continuous || true
        git push origin :refs/tags/continuous
        git tag continuous
        git push origin continuous -f
  update-release:
    runs-on: ubuntu-latest
    needs: update-tag
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Delete Release
      run: |
        gh release delete continuous -y || true
    - name: Create Release
      run: |
        gh release create continuous --title "Continuous Build" --notes "Daily build of xTools" --prerelease
  release-for-windows:
    name: Release for Windows
    needs: update-release
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        ci_action: [
          'Windows',
          'Windows7',
          'WindowsXP'
        ]
    steps:
      - name: Pull code
        uses: actions/checkout@v4
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.1.x'
      - name: Use cmake
        run: cmake --version
      - name: Build for Windows
        if: ${{ matrix.ci_action == 'Windows' }}
        uses: ./.github/actions/ci-windows
        with:
          tag: continuous
      - name: Build for Windows 7
        if: ${{ matrix.ci_action == 'Windows7' }}
        uses: ./.github/actions/ci-windows-7
        with:
          tag: continuous
      - name: Build for Windows XP
        if: ${{ matrix.ci_action == 'WindowsXP' }}
        uses: ./.github/actions/ci-windows-xp
        with:
          tag: continuous
  release-for-linux:
    runs-on: ubuntu-22.04
    needs: update-release
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: '4.1.x'
    - name: Build for Linux
      uses: ./.github/actions/ci-linux
      with:
        tag: continuous
  release-for-macos:
    runs-on: macos-14
    needs: update-release
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: '4.1.x'
    - name: Build for macOS
      uses: ./.github/actions/ci-macos
      with:
        tag: continuous
  release-for-android:
    runs-on: ubuntu-24.04
    needs: update-release
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.1.x'
      - name: Build for Android with Docker
        uses: ./.github/actions/ci-android
        with:
          tag: continuous
