name: build-test
on:
  workflow_dispatch: # Enables manually

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build-linux:
    name: Build with Qt
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        ci_action: [
          'building-for-windows',
          'building-for-windows7',
          'building-for-windowsxp'
        ]
    steps:
      - name: Pull code
        uses: actions/checkout@v4
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.1.x'
      - name: Use cmake
        run: cmake --version
      - name: Build for Windows
        if: ${{ matrix.ci_action == 'building-for-windows' }}
        uses: ./.github/actions/building-for-windows
      - name: Build for Windows 7
        if: ${{ matrix.ci_action == 'building-for-windows7' }}
        uses: ./.github/actions/building-for-windows7
      - name: Build for Windows XP
        if: ${{ matrix.ci_action == 'building-for-windowsxp' }}
        uses: ./.github/actions/building-for-windowsxp