name: build-test
on:
  workflow_dispatch: # Enables manually

env:
    GH_TOKEN: ${{ github.token }}

jobs:
  build-test:
    runs-on: ubuntu-24.04-arm
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: build for ubuntu arm
      uses: ./.github/actions/ci-ubuntu-arm
      with:
        tag: continuous
    - name: Verify Build Artifacts
      run: |
        ls -la bin/6.8.3/Linux/Release/xTools-linux
        find bin/6.8.3/Linux/Release/xTools-linux -name "*.deb"
        find bin/6.8.3/Linux/Release/xTools-linux -name "*.AppImage"
      shell: bash