name: build-test
on:
  workflow_dispatch: # Enables manually

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build-windows:
    name: Build with Qt
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        ci_action: [
          'Windows',
          'Windows7',
          'WindowsXP'
        ]
    steps:
      - name: Pull code
        uses: actions/checkout@v4
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.1.x'
      - name: Use cmake
        run: cmake --version
      - name: Build for Windows
        if: ${{ matrix.ci_action == 'Windows' }}
        uses: ./.github/actions/ci-windows
      - name: Build for Windows 7
        if: ${{ matrix.ci_action == 'Windows7' }}
        uses: ./.github/actions/ci-windows-7
      - name: Build for Windows XP
        if: ${{ matrix.ci_action == 'WindowsXP' }}
        uses: ./.github/actions/ci-windows-xp