name: build-ubuntu
# on:
#   schedule:
#     - cron: '0 0 * * *'
on:
 push:
   branches:
     - master
jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
        version: [5.15.2, 6.7.*]
        arch: [gcc_64]
        include:
          - version: 5.15.2
            cmake-prefix-path: 'lib/cmake/Qt5'
            modules: 'qtcharts'
          - version: 6.7.*
            cmake-prefix-path: 'lib/cmake/Qt6'
            moudles: 'qtcharts qtserialbus qtserialport qtwebsockets'
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: install qt
        uses: jurplel/install-qt-action@v3
        with:
          aqtversion: '==3.1.*'
          version: ${{ matrix.version }}
          target: 'desktop'
          arch: ${{ matrix.arch }}
          dir: ${{ github.workspace }}
          modules: ${{ matrix['moudles']}}
      - name: install-dependencies
        run: |
          sudo apt-get install -y libxcb-xinerama0 libxcb-cursor-dev
      - name: build for linux
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_PREFIX_PATH='${{ github.workspace }}/Qt/${{ matrix.version }}/${{ matrix.arch }}/${{ matrix.cmake-prefix-path }}' -DCMAKE_BUILD_TYPE=Release -G "Unix Makefiles" ../
          cmake --build . --target xTools
