name: build-test
on:
  workflow_dispatch: # Enables manually

jobs:
  build-test:
    runs-on: ubuntu-22.04-arm
    steps:
    - name: build for ubuntu arm
      uses: ./.github/actions/ci-ubuntu-arm
      with:
        tag: continuous