name: build-test
on:
  workflow_dispatch: # Enables manually

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  DOCKER_IMAGE: ghcr.io/x-tools-author/x-tools-ubuntu-22.04:x86_64
  QT_VERSION: '6.8.3'
  QT_MODULES: 'qtcharts qtserialbus qtserialport qtwebsockets'

jobs:
  build-test:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        rm ${{ github.workspace }}/cmake/linux/tools/linuxdeployqt
        echo "Using docker linuxdeployqt"
    - name: Build for Linux
      run: |
        docker run --rm --privileged -v ${{ github.workspace }}:/workspace ${{ env.DOCKER_IMAGE }} /bin/bash -c "\
        cd /workspace && chmod +x ./scripts/ci-build-ubuntu-22.04.sh && ./scripts/ci-build-ubuntu-22.04.sh"
    - name: Upload Release Asset for Linux
      run: |
        dir bin/6.8.3/Linux/Release
        find bin/6.8.3/Linux/Release/xTools-linux -name "*.deb" -exec gh release upload continuous {} --clobber \;
        find bin/6.8.3/Linux/Release/xTools-linux -name "*.AppImage" -exec gh release upload continuous {} --clobber \;