name: build-android
on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch: # Enables manually
  # pull_request:
  #   branches:
  #     - master
  #   types: [opened, synchronize, reopened]
  # push:
  #   branches:
  #     - master
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  DOCKER_IMAGE: ghcr.io/x-tools-author/x-tools-ubuntu-20.04:x86_64
  QT_ANDROID_KEYSTORE_PATH: res/android/android_release.keystore
  QT_ANDROID_KEYSTORE_ALIAS: ${{ secrets.ANDROID_KEYSTORE_ALIAS }}
  QT_ANDROID_KEYSTORE_STORE_PASS: ${{ secrets.ANDROID_KEYSTORE_STORE_PASS }}
  QT_ANDROID_KEYSTORE_KEY_PASS: ${{ secrets.ANDROID_KEYSTORE_KEY_PASS }}

jobs:
  build-with-docker:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ci_action: [
          'armv7',
          'armv8a'
        ]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build for Android(armv7)
      if: ${{ matrix.ci_action == 'armv7' }}
      run: |
        docker pull ${{ env.DOCKER_IMAGE }}
        docker run --rm -v ${{ github.workspace }}:/workspace ${{ env.DOCKER_IMAGE }} /bin/bash -c "\
        cd /workspace && chmod +x ./scripts/ci-build-android-armv7.sh && ./scripts/ci-build-android-armv7.sh \
        ${{env.QT_ANDROID_KEYSTORE_PATH}} ${{env.QT_ANDROID_KEYSTORE_ALIAS}} ${{env.QT_ANDROID_KEYSTORE_STORE_PASS}} ${{env.QT_ANDROID_KEYSTORE_KEY_PASS}}"
    - name: Build for Android(armv8a)
      if: ${{ matrix.ci_action == 'armv8a' }}
      run: |
        docker pull ${{ env.DOCKER_IMAGE }}
        docker run --rm -v ${{ github.workspace }}:/workspace ${{ env.DOCKER_IMAGE }} /bin/bash -c "\
        cd /workspace && chmod +x ./scripts/ci-build-android-armv8a.sh && ./scripts/ci-build-android-armv8a.sh \
        ${{env.QT_ANDROID_KEYSTORE_PATH}} ${{env.QT_ANDROID_KEYSTORE_ALIAS}} ${{env.QT_ANDROID_KEYSTORE_STORE_PASS}} ${{env.QT_ANDROID_KEYSTORE_KEY_PASS}}"
