name: build-test
on:
  workflow_dispatch: # Enables manually

env:
    GH_TOKEN: ${{ github.token }}

jobs:
  build-test:
    runs-on: ubuntu-22.04-arm
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        sudo apt-get install -y libxcb-xinerama0 libxcb-cursor-dev libudev-dev libusb-dev libusb-1.0-0-dev ninja-build
        wget https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-aarch64.AppImage -O ${{ github.workspace }}/cmake/linux/tools/linuxdeployqt-aarch64
        chmod +x ${{ github.workspace }}/cmake/linux/tools/linuxdeployqt-aarch64
    - name: Build for Linux
      run: |
        docker run --rm --privileged -v ${{ github.workspace }}:/workspace ghcr.io/x-tools-author/x-tools-ubuntu-22.04-arm64:arm64 /bin/bash -c "\
        cd /workspace && git --version && ls /opt/qt/6.7.3 && chmod +x ./scripts/ci-build-ubuntu-22.04-arm64.sh && ./scripts/ci-build-ubuntu-22.04-arm64.sh"
    - name: Upload Release Asset for Linux
      run: |
        dir bin/6.7.3/Linux/Release
        find bin/6.7.3/Linux/Release/xTools-linux -name "*.deb" -exec echo {} \;
        find bin/6.7.3/Linux/Release/xTools-linux -name "*.AppImage" -exec echo {} \;