name: build-test
on:
  workflow_dispatch: # Enables manually

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  release-for-windows-xp:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build for Windows
      shell: cmd
      run: |
        git fetch --tags
        scripts\ci-build-windows-xp.bat
    - name: Upload Release Asset for Windows
      shell: cmd
      run: |
        for %%f in (bin\5.6.3\Windows\Release\xTools-zip\*.zip) do gh release upload continuous "%%f" --clobber

