name: build-test
on:
  workflow_dispatch: # Enables manually

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  DOCKER_IMAGE: ghcr.io/x-tools-author/x-tools-ubuntu-20.04:x86_64
  QT_ANDROID_KEYSTORE_PATH: res/android/android_release.keystore
  QT_ANDROID_KEYSTORE_ALIAS: ${{ secrets.ANDROID_KEYSTORE_ALIAS }}
  QT_ANDROID_KEYSTORE_STORE_PASS: ${{ secrets.ANDROID_KEYSTORE_STORE_PASS }}
  QT_ANDROID_KEYSTORE_KEY_PASS: ${{ secrets.ANDROID_KEYSTORE_KEY_PASS }}

jobs:
  build-test:
    runs-on: ubuntu-22.04-arm
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: '4.1.x'
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        aqtversion: '==3.1.*'
        version: '6.8.3'
        host: 'linux_arm64'
        target: 'desktop'
        arch: 'linux_gcc_arm64'
        modules: 'qtcharts qtserialbus qtserialport qtwebsockets'
        dir: ${{ github.workspace }}
    - name: install-dependencies
      run: |
        sudo apt-get install -y libxcb-xinerama0 libxcb-cursor-dev libudev-dev libusb-dev libusb-1.0-0-dev ninja-build
    - name: Build for Windows
      run: |
        git fetch --tags
        cmake --version
        mkdir build
        cd build
        cmake -DCMAKE_PREFIX_PATH='${{ github.workspace }}/Qt/${{ matrix.version }}/${{ matrix.arch }}' -DCMAKE_BUILD_TYPE=Release -G "Ninja" ../
        cmake --build . --target xTools
        cmake --build . --target xTools_linux