name: build-test
on:
  workflow_dispatch: # Enables manually

env:
    GH_TOKEN: ${{ github.token }}

jobs:
  build-test:
    runs-on: windows-11-arm
    steps:
      - name: Pull code
        uses: actions/checkout@v4
      - name: Build for Windows ARM64
        uses: ./.github/actions/ci-windows-arm64
        with:
          tag: 'continuous'