name: build-test
on:
  workflow_dispatch: # Enables manually

env:
    GH_TOKEN: ${{ github.token }}

jobs:
  build-test:
    runs-on: windows-11-arm
    steps:
      - name: Pull code
        uses: actions/checkout@v4
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          aqtversion: '==3.1.*'
          dir: ${{ github.workspace }}
          version: 6.8.3
          target: desktop
          host: windows_arm64
          arch: win64_msvc2022_arm64
          modules: 'qtcharts qtserialbus qtserialport qtwebsockets'
      - name: build-msvc-arm64
        shell: cmd
        run: |
          mkdir build
          cd build
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" arm64
          cmake -DCMAKE_PREFIX_PATH='${{ github.workspace }}/Qt/6.8.3/win64_msvc2022_arm64' -DCMAKE_BUILD_TYPE=Release -G "Ninja" ../
          cmake --build . --target all --config Release